html,
body {
  height: 100%;
  width: 100%;
}

.home-cta {
  background: url('/images/background.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-cta > h1 {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  width: 400px;
}
.home-cta > h1 > span {
  color: #333;
}

html, 
body {
  height: 100%; 
  font-size: 1em; 
}

body {
  display:flex; 
  align-items: center; 
  justify-content: center;
  background-color: #00CC99; 
}

.container {
  background-color: #fff; 
  border-radius:5px; 
  color: #333; 
}

h1 {
  font-family: 'Sriracha', cursive;
  font-size:6em;
  padding-bottom: 30px;
  text-align:center; 
}
h2 {
  font-family: 'Sriracha', cursive;
  font-size:4em;
  padding-bottom: 30px;
  text-align:center; 
}